<template>
  <b-container fluid>
    <b-row align-h="center">
      <h1>Currency Data</h1>
    </b-row>
    <b-row align-h="center">
      <b-button variant="primary" @click="refresh()" class="m-3">Refresh</b-button>
    </b-row>
    <b-row align-h="center">
      <b-spinner variant="primary" label="Spinning" v-if="!loaded" class="m-5"></b-spinner>
      <b-table striped hover :items="rates"></b-table>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "home",
  data() {
    return {
      rates: [],
      loaded: false
    }
  },
  methods: {
    refresh: function() {
      this.loaded = false;
      this.rates = [];
      this.load();
    },
    load: function() {
      this.$http.get('http://localhost:8008/api/rates').then(response => {
        this.rates = response.data;
        this.loaded = true;
      })
    }
  },
  mounted() {
    this.load();
  }
};
</script>
